.content {
    width: 100%;
	height: 100%;
    padding: 1rem 0 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
	overflow-y: scroll;
}

.top {
    width: 100%;
    padding: 0.265rem 0.25rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    background: #ffffff;
}

.topBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topImg {
    width: 0.5rem;
    height: 0.5rem;
}

.topTitle {
    font-size: 0.36rem;
    font-family: 'PingFang SC';
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.list {
    width: 100%;
    padding: 0 0.3rem;
    box-sizing: border-box;
	margin-top: 0.45rem;
}
.item{
	margin-bottom: 0.45rem;
}
.item_top {
    width: 100%;
    margin: 0 0 0.45rem 0;
    text-align: center;
    font-size: 0.24rem;
    font-family: 'PingFang SC';
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 0.3rem;
}

.item_main {
    width: 100%;
    padding: 0.4rem 0.27rem 0.26rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.1rem;
}

.item_main_name{
    font-size: 0.32rem;
	line-height: 0.43rem;
    font-family: 'PingFang SC';
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
.item_main_statu{
    margin: 0.45rem 0 0.28rem 0;
}
.itemText{
    font-size: 0.3rem;
	line-height: 0.35rem;
    font-family: 'PingFang SC';
    font-weight: Medium;
    color: #999999;
}
.item_main_text {
    width: 1.4rem;
    height: 0.5rem;
    font-size: 0.24rem;
    font-family: 'PingFang SC';
	background-color: #2EC5E0;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
	box-shadow: 0 0.05rem 0 #15A9C3;
	border-radius: 0.44rem;
}
.item_main_txt{
    margin-top: 0.32rem;
}
.flex{
  position: absolute;
  width: 100%;
  bottom:0;
  z-index: 9999;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.keybord{
  position: absolute;
  width: 100%;
  bottom:0;
  height: 1.1rem;
  background-color: white;
  box-sizing: border-box;
  border-top: 0.02rem solid #F5F5F5;
  padding: 0.2rem 0.3rem;
}
.keybord .ipt{
    height: 100%;
    background-color: #F5F5F5;
    flex: 1;
    box-sizing: border-box;
    padding: 0 0.2rem;
    font-size: 0.24rem;
 }
 .keybord>p{
   width: 1.2rem;
   height: 100%;
   background-color: #49B4FE;
   color: white;
   border-radius: 0.15rem;
   font-size: 0.28rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 0.2rem;
 }
 .rowCenters{
	 display: flex;
	 align-items:center;
 }