#box{
	width: 100%;
	box-sizing: border-box;
	padding-top: 1rem;
	overflow-y: scroll;
/* 	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch; */
}
.divBox{
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
	height: 1.19rem;
	border-bottom: 0.02rem solid #EEEEEE;
}
.opts{
	box-sizing: border-box;
	padding-bottom:0.5rem;
}
.divBox>p,.uploadBox>p,.iptBox>p{
	font-size: 0.3rem;
	color: #333333;
	flex-shrink: 1;
	white-space: nowrap;
}
.divBox>p>span,.uploadBox>p>span,.iptBox>p>span{
	font-size: 0.3rem;
	color: #FB4330;
}
.divBox>div{
	flex: 1;
}
.divBox>div>p{
	font-size: 0.26rem;
	color: #666666;
	flex: 1;
	text-align: right;
	width: 1rem;
	margin-left: 0.2rem;
}
.divBox>div>img{
	width: 0.4rem;
	height: 0.4rem;
}
.divBox>div>input{
	text-align: right;
	box-sizing: border-box;
	padding-left: 0.4rem;
	font-size: 0.3rem;
	color: #666666;
	background-color: none;
	border: 0;
}
.iptBox>textarea{
	box-sizing: border-box;
	font-size: 0.3rem;
	color:  #666666 !important;
	background-color: none;
	border: 0;
	margin-top: 0.3rem;
	resize: none;
}
.uploadBox{
	box-sizing: border-box;
	padding: 0rem 0 0rem 0;
	margin-top: 0.38rem;
	border-bottom: 0.02rem solid #EEEEEE;
}
.uploadBox>div{
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.37rem;
}
.uploadBox>div>div{
	width: 1.54rem;
	height: 1.54rem;
	position: relative;
	margin: 0 0.39rem 0.3rem 0;
}
.uploadBox>div>div .imgs{
	width: 100%;
	height: 100%;
	border-radius: 0.1rem;
}
.uploadBox>div>div .dele{
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	top: -0.2rem;
	right: -0.2rem;
}
.iptBox{
	border-bottom: 0.02rem solid #EEEEEE;
	box-sizing: border-box;
	padding: 0.47rem 0 0 0;
	overflow: hidden;
}
.iptBox>input{
	width: 100%;
	background-color: none;
	font-size: 0.3rem;
	box-sizing: border-box;
	padding: 0.29rem 0;
	margin-top: 0.55rem;
}
.fotBtn{
	width: 100%;
	/* position: fixed; */
	/* bottom: 0;
	left: 0; */
	box-sizing: border-box;
	padding: 0.15rem 0.3rem;
	background-color: white;
}
.fotBtnNoFix{
	width: 100%;
	box-sizing: border-box;
	padding: 0.15rem 0.3rem;
	background-color: white;
}
.fotBtn>.gon,.fotBtnNoFix>.gon{
	width: 100%;
	height: 0.88rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2EC5E0;
	font-size: 0.36rem;
	color: #FFFFFF;
	text-align: center;
	border-radius: 0.44rem;
	box-shadow: 0 0.05rem 0 #15A9C3;
	border: 0;
}
.popTitle{
	font-size: 0.36rem;
	color: #333333;
	text-align: center;
	box-sizing: border-box;
	padding: 0.45rem 0.34rem;
	position: relative;
	width: 100%;
	background-color: white;
	z-index: 10;
	border-radius: 0.4rem 0.4rem 0 0;
}
.popTitle>img{
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
	top: 0.34rem;
	right: 0.34rem;
}
.popCont{
	box-sizing: border-box;
	max-height: 7rem;
	overflow-y: scroll;
}
.popCont>div{
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0.39rem 0.3rem;
}
.popCont>div>p{
	font-size: 0.3rem;
	color: #434343;
}
.popCont>div>div img{
	width: 0.36rem;
	height: 0.36rem;
}
.moves{
	font-size: 0.3rem;
	color: #333333 !important;
	margin-left: 0.2rem;
}
.videossd{
	font-size: 0.3rem !important;
	color: #333333 !important;
	margin-left: 0.1rem;
}
.cards{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cards>img{
	width: 0.7rem;
	height: 0.7rem;
}