#box{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 1rem;
	/* overflow-y: scroll; */
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	 background: rgb(245, 245, 245);
}
.top {
    width: 100%;
    padding: 0.265rem 0.25rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    background: #ffffff;
}
.topBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topImg {
    width: 0.45rem;
    height: 0.45rem;
}
.topTitle {
    font-size: 0.36rem;
    font-family: 'PingFang SC';
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
	font-weight: bold;
}
.listBoxs {
    width: 100%;
    padding: 0.3rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.items {
    width: 3.3rem;
	height: 4.1rem;
    padding-bottom: 0.22rem;
    margin-bottom: 0.3rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0.1rem 0 rgba(5, 5, 5, 0.05);
    border-radius: 0.1rem;
	overflow: hidden;
}

.items_top {
    width: 100%;
    position: relative;
	border-radius: 0.1rem 0.1rem 0 0;
}

.items_top_img {
    width: 3.3rem;
    height: 3rem;
	object-fit: cover;
	border-radius: 0.1rem 0.1rem 0 0;
}

.items_top_icon {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    position: absolute;
    top: 0.12rem;
    right: 0.14rem;
}

.items_main {
    width: 100%;
    padding: 0 0.18rem;
    margin-top: 0.24rem;
    box-sizing: border-box;
    font-size: 0.26rem;
    font-family: 'PingFang SC';
    font-weight: 500;
    color: rgba(68, 68, 68, 1);
    line-height: 0.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
}

.items_footer {
    width: 100%;
    padding: 0 0.16rem;
    margin-top: 0.46rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.2rem;
    font-family: 'PingFang SC';
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.items_footerlist {
    display: flex;
    align-items: center;
}

.items_footerlist img {
    width: 0.3rem;
    height: 0.3rem;
}

.start {
    width: 0.66rem;
    height: 0.4rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0px 0.2rem 0.2rem 0px;
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start img{
    width: 0.28rem;
    height: 0.26rem;
}
.maginsd{
	height: 100%;
}