<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>活动详情</title>
    <script src="../../../js/public/rem.js"></script>
    <script src="../../../js/public/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../../../allCss/public.css">
    <link rel="stylesheet" href="../../../allCss/vant.css">
    <link rel="stylesheet" href="../../../allCss/teacher/activityDetails.css">
</head>

<body>
    <div id="activityDetails" class="content" v-cloak>
        <div class="top">
            <div class="topBox">
                <img class="topImg" @click="goBack()" src="../../../images/student/icon_back.png" alt="">
                <div class="topTitle">活动详情</div>
                <img class="topImg" @click="goShare(true)" src="../../../images/student/Ic_share_02.png" alt="">
            </div>
        </div>
        <div class="boxPadd mainTop" v-if="allData!==''">
            <div class="mainTop_title">
                <div class="mainTop_title_text">{{allData.title}}<p class="mainTop_title_tag">{{allData.type_name}}活动</p></div>
            </div>
            <div class="mainTop_text">活动描述：{{allData.content}}</div>
			<div class="imgBoxsd">
				<img :src="it.path" @click="openImg(allData.attament,ix)" v-for="(it,ix) in allData.attament"/>
				<p></p>
			</div>
            <div class="mainTop_footer">
                <div>
                    <div>参与时间：</div>
                    <div class="mainTop_footer_time">{{allData.join_start_time}}&nbsp;-&nbsp;{{allData.join_end_time}}
                    </div>
                </div>
                <div>
                    <div>投票时间：</div>
                    <div class="mainTop_footer_time">{{allData.vote_start_time }}&nbsp;-&nbsp;{{allData.vote_end_time}}
                    </div>
                </div>
            </div>
        </div>
        <div class="boxPadd list">
            <div class="listBox" v-if="dataList.length!==0">
                <div class="item" v-for="(item,i) in dataList">
                    <div class="item_top">
                        <div class="item_top_left">{{i+1}}.{{item.full_name}}（{{item.vote_num}}票）</div>
                        <div class="item_top_right" v-if="item.is_vote == 0">
                            <div class="item_top_rightBox">
                                <img src="../../../images/student/Ic_thumbup.png" alt="">
                                <div class="item_top_right_text" @click="goVote(item)">投票</div>
                            </div>
                        </div>
                        <div class="item_top_rights" v-if="item.is_vote == 1">
                            <div class="item_top_rightBox">
                                <img src="../../../images/student/Ic_thumbup.png" alt="">
                                <div class="item_top_rights_text">已投票</div>
                            </div>
                        </div>
                    </div>
                    <div class="item_main">
                        {{item.conent}}
                    </div>
					<div v-if="allData.a_type==1">
						<div class="audiosf align_items" v-if="item.attachment_list.length!==0">
							<div class="audiosBox" v-for="(it,ix) in item.attachment_list" @click="autoVoice(it)">
								{{it.duration}}"
							</div>
						</div>
					</div>
					<div v-if="allData.a_type==0">
					    <div class="item_img" v-if="item.attachment_list.length!==0">
							<img :src="it.path" alt="" 
							 @click="openImg(item.attachment_list,ix)"
							v-for="(it,ix) in item.attachment_list" onerror="this.src = '../../../images/teacher/error.png'"/>
						</div>
					</div>
					<div v-if="allData.a_type==2">
						<div class="videoBox align_items" v-if="item.attachment_list.length!==0">
							<div v-for="(it,ix) in item.attachment_list" @click="autoVideo(it)">
								<img :src="it.other_path" onerror="this.src = '../../../images/teacher/error.png'"/>
								<div>
									<img src="../../../images/teacher/ic_bofang.png" />
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
			<div class="nullEmptys mads" v-if="dataList.length==0&&loadMo">
				<img src="../../../images/student/null.png" />
				<p>什么都没有...</p>
			</div>
			<div class="fotBtn_teath" v-if="allData.vote_join_status == 1"> 
				<van-button type="default" class="gon" @click="goPartake">我要参与</van-button>
			</div>
        </div>
		<van-popup v-model="show" round position="bottom" style="max-height: 70%;">
			<div class="shareWay">
				<div @click="share('WEIXIN')">
					<img src="../../../images/teacher/pic_chat.png" />
					<p>微信</p>
				</div>
				<div @click="share('WEIXIN_CIRCLE')">
					<img src="../../../images/teacher/pic_friend.png" />
					<p>朋友圈</p>
				</div>
			</div>
			<div class="shareWay_Cacel" @click="goShare(false)">取消</div>
		</van-popup>
		<loadings ref="loadings"/>
    </div>
</body>
<script src="../../../js/public/vue.js"></script>
<script src="../../../js/public/vant.js"></script>
<script src="../../../js/public/WebViewJavascriptBridge.js"></script>
<script src="../../../js/public/index.js"></script>
<script>
    new Vue({
        el: '#activityDetails',
        data() {
            return {
                show: false,
                allData: "",
                dataList: [],
                vote_id: '',
				sharesData:{},
				loadMo:false
            }
        },
		created(){
			iosReload()
		},
        mounted() {
          var id = GetQueryValue("id")
		  this.vote_id = id
		  this.getShare(id)
		  this.getDetails(id)
        },
        methods: {
			openImg(imgArr,ix){
				var imgs = []
				for(var i=0;i<imgArr.length;i++){
					imgs.push(imgArr[i].path)
				}
				vant.ImagePreview({
				  images: imgs,
				  startPosition: ix,
				  onClose() {
				    // do something
				  },
				});
			},
			autoVoice(it){         //播放音频
				var obj = {
					title:this.allData.title,
					path:it.path
				}
				AndroidRouter('playVoice',JSON.stringify(obj))
			},
			autoVideo(item){       //视频播放
				var obj = {
					title:this.allData.title,
					path:item.path
				}
				AndroidRouter('playVideo',JSON.stringify(obj))
			},
			getShare(id){
				var that = this;
				var url = pageUrl+"huashao_h5/pages/shares/principal/shareActivityDetails.html?id="+id
				ajax("teacher/Share/voteShare",'POST',{share_url:url},function(res){
					if(res.code==1){
						that.sharesData = res.data.result
					}
				})
			},
			share(type){       //分享
				this.show = false
				var that = this;
				var objs = {
					content:this.sharesData.description,
					description:this.sharesData.description,
					platform:type,
					title:this.sharesData.title,
					url:this.sharesData.webpageUrl
				}
				AndroidRouter("share",JSON.stringify(objs),this.set_share,"set_share")
			},
			set_share(res){          //分享回调
				
			},
			getDetails(id){
				this.$refs.loadings.openLoading()
				var that = this;
				ajax("teacher/Vote/voteDetail",'POST',{vote_id:id},function(res){
					if(res.code==1){
						that.allData = res.data.vote_info
						that.dataList = res.data.join_list
					}
					that.loadMo = true
					that.$refs.loadings.closedLoading()
				})
			},
			goVote(item){        //投票
				var that = this;
				ajax("teacher/Vote/doVote",'POST',{vote_id:this.vote_id,join_id:item.join_id},function(res){
					vant.Toast(res.msg)
					if(res.code==1){
						item.is_vote = 1
						item.vote_num+=1
					}
				})
			},
            goBack() {
                history.go(-1);
            },
            goShare(bool) {
                this.show = bool;
            },
            shareWayCacel(){
                this.show = false;
            },
            goPartake() {
                location.href = './partakeActivities.html?id=' + this.vote_id+"&type="+this.allData.a_type
            }
        }
    });
</script>

</html>