<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>他人主页</title>
		<script src="../../../../js/public/rem.js"></script>
		<script src="../../../../js/public/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../../../../allCss/public.css">
		<link rel="stylesheet" href="../../../../allCss/teacher/outhPage.css">
		<link rel="stylesheet" href="../../../../allCss/vant.css">
	</head>
	<body>
		<div id="box" v-cloak>
			<div class="t_fixeds"  v-if="allData!==''">
				<div class="tops">
				    <div class="topBox">
				        <img class="topImg" src="../../../../images/teacher/ic_return.png" alt="" @click="goback">
				        <div class="topTitle">TA的主页</div>
				        <div class="topImg"></div>
				    </div>
				</div>
				<div class="th_padd allpads">
					<div class="userMess align_items">
						<div class="align_items lefs">
							<img :src="allData.teacher.head" onerror="this.src = '../../../../images/teacher/error.png'"/>
							<div>
								<p class="align_items"><span class="danshen">{{allData.teacher.name}}</span><span>ID:{{allData.teacher.id}}</span></p>
								<div class="align_items">
									<img src="../../../../images/teacher/Ic_edi.png" />
									<p class="scollQian moreshen">{{allData.teacher.personal_sign==""?'这个人很懒，什么也没写~':allData.teacher.personal_sign}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="align_items fans">
						<div  @click="goFans(1)">
							<p>{{allData.followNum.attention_count}}</p>
							<p>关注</p>
						</div>
						<div @click="goFans(0)">
							<p>{{allData.followNum.fans_count}}</p>
							<p>粉丝</p>
						</div>
						<div>
							<p>0</p>
							<p>获赞</p>
						</div>
					</div>
				</div>
				<div class="newsFens align_items">
					<span></span>
					<p>风采展示</p>
				</div>
				<!-- <div class="checkTab">
					<van-tabs v-model="num"  line-width="30" :border="false" title-inactive-color="#999999" title-active-color="#333333" color="#2EC5E0" class="typeArrs"  @click="checkType">
					  <van-tab v-for="(item,index) in typeArr" :key="index" :title="item.tit"></van-tab>
					</van-tabs>
				</div> -->
			</div>
			<div class="listBox align_items"  v-if="allData!==''">
				<!-- <div class="list" v-for="(item,index) in list" :key="index" v-if="list.length!==0" @click="goDetails(item)">
					<div class="top">
						<img src="../../../images/teacher/pic_01.png" />
						<div>
							<div>
								<img src="../../../images/teacher/Ic_audio.png" />
							</div>
						</div>
					</div>
					<div class="bot">
						<p class="moreshen">表达天气的词汇，表达天气表达天气的词汇</p>
						<div class="align_items">
							<div class="align_items">
								<img src="../../../images/teacher/Ic_browsing.png" />
								<span>25</span>
							</div>
							<div class="align_items">
								<img src="../../../images/teacher/Ic_love.png" />
								<span>25</span>
							</div>
							<div class="align_items">
								<img src="../../../images/teacher/Ic_pl.png" />
								<span>25</span>
							</div>
						</div>
					</div>
				</div> -->
				<div class="nullEmptys mads" style="background-color: rgb(245, 245, 245);">
					<img src="../../../../images/student/null.png" />
					<p>什么都没有...</p>
				</div>
			</div>
			<loadings ref="loadings"/>
		</div>
	</body>
	<script src="../../../../js/public/vue.js"></script>
	<script src="../../../../js/public/vant.js"></script>
	<script src="../../../../js/public/WebViewJavascriptBridge.js"></script>
	<script src="../../../../js/public/index.js"></script>
	<script>
	    new Vue({
	        el: '#box',
	        data() {
			  return {
				typeArr:[{tit:"风采展示",order:2}],
				num:0,           //tab得选中目标
				teaPostData:{
					teacher_id:""
				},
				allData:"",
				u_type:"",
				id:"",
				list:[]
			  }
	        },
			mounted(){
				var id = GetQueryValue("id")
				var u_type = GetQueryValue("u_type")
				this.u_type = u_type
				this.id = id
				this.teaPostData.teacher_id = id
				this.getDetails()
			},
	        methods: {
				// goDetails(item){       //详情
				// 	location.href = "../homeworkDetails.html?id="+item.task_id
				// },
				goFans(type){     //粉丝/关注\
					location.href = "fans.html?type="+type+"&name="+this.allData.teacher.name+"&u_id="+this.allData.teacher.id+"&u_type=1"
				},
			   getDetails(){        //获取详情
					this.$refs.loadings.openLoading()
					var that = this;
				   ajax('school/teacher/teacherInfo','POST',this.teaPostData,function(res){
						that.$refs.loadings.closedLoading()
						if(res.code==1){
							var numData = JSON.parse(JSON.stringify(res.data))
							that.allData = numData
						}
				   })
			  },
			  goback(){
				 history.go(-1)
			  },
			  checkType(it){              //切换tab
			  	console.log(it)
			  }
	        }
	    });
	
	
	</script>
</html>
