<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>优秀作业展</title>
    <!-- head 中 -->
    <script src="../../../js/public/rem.js"></script>
    <script src="../../../js/public/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../../../allCss/public.css">
    <link rel="stylesheet" href="../../../allCss/vant.css">
    <link rel="stylesheet" href="../../../allCss/student/finishedStudent.css">
</head>

<body>
    <div id="finishedStudent" class="content" v-cloak>
        <div class="top">
            <div class="topBox">
                <img class="topImg" @click="goBack" src="../../../images/student/icon_back.png" alt="">
                <div class="topTitle">优秀作业展</div>
                <div class="topImg"></div>
            </div>
        </div>
        <div class="main">
            <van-pull-refresh v-model="isLoading" v-if="listData.length > 0" success-text="刷新成功" @refresh="onRefresh">
                <van-list v-model="isUpLoading" :finished="upFinished" @load="onupLoad" :offset="offset" :immediate-check='check'>
                    <div class="items" v-for="item in listData" @click="goInfo(item.student_task_id)">
                        <img :src="item.head" alt="">
                        <div class="items_text">{{item.name}}</div>
                    </div>
                </van-list>
            </van-pull-refresh>
            <div class="noNotice" v-if="isShow">
                <div class="noNotice_main">
                    <img src="../../../images/principal/noNotice.png" alt="">
                    <div>暂无通知...</div>
                </div>
            </div>
        </div>
        <loadings ref="loadings" />
    </div>
    <script>
        $(document).ready(function() {
            $('.content').css('minHeight', $(window).height() + 'px');
        })
    </script>
</body>
<script src="../../../js/public/vue.js"></script>
<script src="../../../js/public/vant.js"></script>
<script src="../../../js/public/WebViewJavascriptBridge.js"></script>
<script src="../../../js/public/index.js"></script>
<script>
    new Vue({
        el: '#finishedStudent',
        data() {
            return {
                listData: [],
                type: '',
                name: '',
                taskId: '',
                check: false,
                pageNo: 1,
                pageSize: 15,
                total: '',
                isShow: false,
                isLoading: false,
                isUpLoading: false,
                upFinished: false, //上拉加载完毕
                offset: 100, //滚动条与底部距离小于 offset 时触发load事件
            }
        },
        mounted() {
            var id = GetQueryValue("id");
            var type = GetQueryValue("type");
            var name = GetQueryValue("name");
            this.taskId = id;
            this.type = type;
            this.name = name;
            // vant.Toast.loading({
            //     message: '加载中...',
            //     forbidClick: true,
            //     loadingType: 'spinner',
            //     duration: 6000
            // });
            // let that = this;
            // ajax('school/task/school_good_task_list', "POST", {
            //     task_id: id
            // }, (res) => {
            //     if (res.code == 1) {
            //         that.listData = res.data.list;
            //         vant.Toast.clear();
            //     }
            // })
            this.$refs.loadings.openLoading();
            this.getInfo(this.pageNo, this.pageSize, this.taskId)
        },
        methods: {
            goBack() {
                history.go(-1);
            },
            onRefresh() {
                this.isLoading = true;
                this.upFinished = false;
                this.pageNo = 1;
                this.listData = [];
                this.getInfo(this.pageNo, this.pageSize, this.taskId)
            },
            onupLoad() { // 上拉调用此函数
                // e.stopPropagation();
                this.isUpLoading = false;
                // this.upFinished = false;
                this.pageNo++;
                this.getInfo(this.pageNo, this.pageSize, this.taskId)

            },
            getInfo(pageNo, pageSize, id) {
                // vant.Toast.loading({
                //     message: '',
                //     forbidClick: true,
                //     loadingType: 'spinner',
                //     duration: 0,
                //     icon: "../../../images/loading.gif"
                // });
                let that = this;
                ajax('school/task/school_good_task_list', "POST", {
                    "page_no": pageNo,
                    "page_size": pageSize,
                    "task_id": id
                }, function(res) {
                    if (res.code == 1) {
                        let rows = res.data.list; //请求返回当页的列表
                        that.isUpLoading = false;
                        that.total = res.data.total;
                        // vant.Toast.clear();
                        that.$refs.loadings.closedLoading();
                        if (rows == null || rows.length === 0) {
                            // 加载结束
                            this.upFinished = true;
                            if (that.listData.length > 0) {
                                that.isShow = false;
                            } else {
                                that.isShow = true;
                            }
                            return false;
                        }
                        if (pageNo == 1) {
                            that.listData = rows;
                        } else {

                            that.listData = that.listData.concat(rows);
                        }
                        if (that.listData.length >= that.total) {
                            that.upFinished = true;
                        }
                        if (that.listData.length > 0) {
                            that.isShow = false;
                        } else {
                            that.isShow = true;
                        }
                    }
                    that.isLoading = false;
                    // that.isUpLoading = false;
                    // that.upFinished = true;
                })
            },
            goInfo(id) {
                if (this.type == 1) {
                    location.href = './workDetailsImgText.html?id=' + id;
                } else {
                    let type = '';
                    if (this.type == 2) {
                        type = 2;
                    } else {
                        type = 1;
                    }
                    let is_show = 0;
                    if (this.isList) {
                        is_show = 1;
                    }
                    let data = {
                        title: this.name, //'页面标题'
                        student_task_id: id, //'服务器返回的student_task_id'
                        work_type: type, //'1视频打卡,2音频打卡'
                        // is_comment_work: 1,//'是否是点评作业，1是（界面上只显示点评作业的按钮，下面其它参数将无效）'
                        // has_delete_btn: 1,//'是否有删除按钮， 1显示（只对学生端有效，教师端不显示）'
                        has_tea_comment_btn: 1, //'是否有教师点评按钮， 1显示'
                        // has_work_title_btn: 1,//'是否有作业题目按钮， 1显示'
                        is_show_student_list: 0, //'是否显示已完成作业学员列表， 1显示'
                    }
                    AndroidRouter('goStuWorkDetail', JSON.stringify(data), this.workFilsh);
                }
            }
        }
    });
</script>

</html>