<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>报名打卡</title>
    <!-- head 中 -->
    <script src="../../js/public/rem.js"></script>
    <script src="../../js/public/jquery-3.2.1.min.js"></script>
    <script src="../../js/public/address4.js"></script>
    <link rel="stylesheet" href="../../allCss/public.css">
    <link rel="stylesheet" href="../../allCss/vant.css">
    <link rel="stylesheet" href="../../allCss/student/signPunch.css">
    <link rel="stylesheet" href="../../allCss/student/addrss.css">
</head>

<body>
    <div id="signPunch" class="content" v-cloak>
        <!-- <div class="top">
            <div class="topBox">
                <img class="topImg" @click="goBack" src="../../images/student/icon_back.png" alt="">
                <div class="topTitle">报名打卡</div>
                <div class="topImg"></div>
            </div>
        </div> -->
        <div class="ban">
            <img src="../../images/student/banner_01.png" alt="">
        </div>
        <div class="main">
            <div class="inp main_phone">
                <input type="text" v-model="stuName" placeholder="请输入学生姓名" />
            </div>
            <div class="inp">
                <input type="number" v-model="stuAge" placeholder="请输入学生年龄">
            </div>

            <div class="inp birthday" @click="getBirthday">
                <div class="birthday_text" v-if="addr==''">请选择所在城市</div>
                <div v-else>{{addr}}</div>
            </div>
            <!-- <van-popup v-model="show" position="bottom">
                <van-area title="城市选择" :area-list="areaList" @confirm="suData" @cancel="cancel" />
            </van-popup> -->
            <van-popup v-model="areaShow" position="bottom">
                <!-- <van-area title="城市选择" :area-list="areaList" @confirm="areaData" @cancel="areaCancel" /> -->
                <div class="blackbg">
                    <div class="addkuang">
                        <div class="province">
                            <span @click="dataList()" :class="prishow==true?'spanact':'spannom'">{{pro}}</span>
                            <span @click="citys()" v-show="cityspanshow==true" :class="cityshow==true?'spanact':'spannom'">{{cit}}</span>
                            <span @click="qus()" v-show="quspanshow==true" :class="qushow==true?'spanact':'spannom'">{{qu}}</span>
                            <span @click="streets()" v-show="streetspanshow==true" :class="streetshow==true?'spanact':'spannom'">{{street}}</span>
                            <span id="xxx" @click="close()">确定</span>
                        </div>
                        <div class="chooseadd">
                            <div ref="pro1" v-show="prishow==true" class="provinceEach" v-for="(item, index) in proList" :key="index" @click="cityfun(item.childs,item.name)">
                                {{item.name}}
                            </div>
                            <div ref="cit2" v-show="cityshow==true" class="provinceEach" v-for="(item, index) in citList" :key="'city'+index" @click="qufun(item.childs,item.name)">
                                {{item.name}}
                            </div>
                            <div ref="qu3" v-show="qushow==true" class="provinceEach" v-for="(item, index) in quList" :key="'qu'+index" @click="streetfun(item.childs,item.name)">
                                {{item.name}}
                            </div>
                            <div ref="street4" v-show="streetshow==true" class="provinceEach" v-for="(item, index) in streetList" :key="'street'+index" @click="endlist(item.childs,item.name)">
                                {{item.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </van-popup>
            <div class="inp">
                <input type="number" maxlength="11" v-model="stuPhone" oninput="if(value.length>11)value=value.slice(0,11)" placeholder="请填写家长电话">
            </div>
            <div class="btn" @click="goDownload">立即报名</div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.content').css('minHeight', $(window).height() + 'px');
        })
    </script>
</body>
<script src="../../js/public/vue.js"></script>
<script src="../../js/public/vant.js"></script>
<script src="../../js/public/WebViewJavascriptBridge.js"></script>
<script src="../../js/public/index.js"></script>
<script>
    new Vue({
        el: '#signPunch',
        data() {
            return {
                stuName: '',
                stuAge: '',
                stuPhone: '',
                school_share_code: '',
                areaShow: false,
                addr: "",
                bgshow: false,
                proList: [],
                citList: [],
                quList: [],
                streetList: [],
                prishow: true,
                cityshow: false,
                qushow: false,
                streetshow: false,
                cityspanshow: false,
                quspanshow: false,
                streetspanshow: false,
                pro: "请选择",
                cit: "请选择",
                qu: "请选择",
                street: "请选择",
            }
        },
        created() {
            var share = GetQueryValue("school_share_code");
            this.school_share_code = share;
        },
        mounted() {
            this.proList = address;
        },
        methods: {
            goBack() {
                history.go(-1);
            },
            getBirthday() {
                this.areaShow = true;
            },
            //城市选择
            dataList: function() {

                // window.console.log(address);
                this.prishow = true;
                this.cityshow = false;
                this.qushow = false;
                this.streetshow = false;
            },
            cityfun: function(e, n) {
                this.pro = n;
                this.citList = e;
                this.cityspanshow = true;
                this.quspanshow = false;
                this.streetspanshow = false;
                this.prishow = false;
                this.cityshow = true;
                this.qushow = false;
                this.streetshow = false;
                this.cit = "请选择";
                this.qu = "请选择";
                this.street = "请选择";

            },
            citys: function() {
                this.prishow = false;
                this.cityshow = true;
                this.qushow = false;
                this.streetshow = false;
            },
            qus: function() {
                this.prishow = false;
                this.cityshow = false;
                this.qushow = true;
                this.streetshow = false;
            },
            qufun: function(e, n) {
                this.cit = n;
                this.quList = e;
                this.quspanshow = true;
                this.streetspanshow = false;

                this.prishow = false;
                this.cityshow = false;
                this.qushow = true;
                this.streetshow = false;

                this.qu = "请选择";
                this.street = "请选择";
            },
            streets: function() {
                this.prishow = false;
                this.cityshow = false;
                this.qushow = false;
                this.streetshow = true;
            },
            streetfun: function(e, n) {
                this.qu = n;
                this.streetList = e;
                this.streetspanshow = true;
                this.prishow = false;
                this.cityshow = false;
                this.qushow = false;
                this.streetshow = true;
                this.street = "请选择";
            },
            endlist: function(e, n) {
                this.street = n;
                // this.bgshow=false;
                // this.areaShow = false;
                // this.addr = this.pro + " " + this.cit + " " + this.qu + " " + this.street;
                this.addr = this.pro + " " + this.cit + " " + this.qu + " " + this.street;
            },

            close: function() {
                this.areaShow = false;
                this.addr = this.pro + this.cit + this.qu + this.street;
                console.log(this.addr)
                    // this.addr = this.pro + this.cit + this.qu + this.street;
                    // this.$emit('sendValueToParent',this.pro,this.cit,this.qu,false);
            },
            goDownload() {
                let that = this;
                ajax('current/share/sign_up', "POST", {
                    school_identity: that.school_share_code,
                    student_name: that.stuName,
                    age: that.stuAge,
                    province: that.pro,
                    city: that.cit,
                    area: that.qu,
                    address: that.street,
                    phone: that.stuPhone,
                }, function(res) {
                    if (res.code == 1) {
                        location.href = './downloadAPP.html?type=1';
                    } else {
                        vant.Toast(res.msg)
                    }
                })
            }
        }
    });
</script>

</html>