<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>投票活动</title>
    <!-- head 中 -->
    <script src="../../js/public/rem.js"></script>
    <script src="../../js/public/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../../allCss/public.css">
    <link rel="stylesheet" href="../../allCss/vant.css">
    <link rel="stylesheet" href="../../allCss/student/votingActivity.css">
</head>

<body>
    <div id="votingActivity" class="content" v-cloak>
        <div class="top">
            <div class="topBox">
                <img class="topImg" @click="goBack" src="../../images/student/icon_back.png" alt="">
                <div class="topTitle">投票活动</div>
                <div class="topImg"></div>
            </div>
        </div>
        <div class="main contents">
            <form @submit.prevent="return false">
                <div class="main_top">
                    <div>
                        <div class="ipts">
                            <input v-model="search" type="search" />
                            <div class="align_items" v-show="search==''">
                                <img src="../../images/student/Icon_search.png" />
                                <p>活动名称搜索</p>
                            </div>
                        </div>
                        <div class="seaBtn" @click="getSearch">
                            搜索
                        </div>
                    </div>
                </div>
            </form>
            <van-pull-refresh v-model="isLoading" success-text="刷新成功" @refresh="onRefresh" style="min-height: 100%;">
                <van-list v-model="isUpLoading" :finished="upFinished" v-if="listData.length > 0" @load="onupLoad" :offset="offset" :immediate-check='check'>
                    <div class="main_item" v-for="item in listData" @click="goDetail(item.vote_activity_id)">
                        <!-- <img :src="item.cover" alt=""> -->
                        <img :src="item.cover" onerror="this.src = '../../images/teacher/error.png'" v-lazy="item.cover" />
                        <div class="main_item_text">{{item.title}}</div>
                        <div class="main_footer">
                            <div>参与：{{item.join_start_time}} - {{item.join_end_time}}</div>
                            <div>投票：{{item.vote_start_time}} - {{item.vote_end_time}}</div>
                        </div>
                    </div>
                </van-list>
                <div v-if="isShow" class="nullData">
                    <div>
                        <img src="../../images/student/null.png" alt="">
                        <div>暂无数据</div>
                    </div>
                </div>
            </van-pull-refresh>
        </div>
        <loadings ref="loadings" />
    </div>
    <script>
        $(document).ready(function() {
            $('.content').css('minHeight', $(window).height() + 'px');
            $('.contents').css('minHeight', $(window).height() + 'px');
        })
    </script>
</body>
<script src="../../js/public/vue.js"></script>
<script src="../../js/public/WebViewJavascriptBridge.js"></script>
<script src="../../js/public/vant.js"></script>
<script src="../../js/public/index.js"></script>
<script>
    new Vue({
        el: '#votingActivity',
        data() {
            return {
                search: "",
                keyword: "",
                check: false,
                isShow: false,
                pageNo: 1,
                pageSize: 5,
                total: '',
                listData: [],
                isLoading: false,
                isUpLoading: false,
                upFinished: false, //上拉加载完毕
                offset: 100, //滚动条与底部距离小于 offset 时触发load事件
            }
        },
        mounted() {
            this.$refs.loadings.openLoading();
            this.getInfo(this.pageNo, this.pageSize, this.keyword);
        },
        methods: {
            goBack() {
                // history.go(-1);
                AndroidRouter('closePage', "");
            },
            onRefresh() {
                this.isLoading = true;
                this.upFinished = false;
                this.pageNo = 1;
                // this.listData = [];
                this.getInfo(this.pageNo, this.pageSize, this.keyword)
            },
            onupLoad() { // 上拉调用此函数
                // e.stopPropagation();
                this.isUpLoading = false;
                // this.upFinished = false;
                this.pageNo++;
                // this.$refs.loadings.openLoading();
                this.getInfo(this.pageNo, this.pageSize, this.keyword)

            },
            getInfo(pageNo, pageSize, keyword) {
                // vant.Toast.loading({
                //     message: '',
                //     forbidClick: true,
                //     loadingType: 'spinner',
                //     duration: 0,
                //     icon: "../../images/loading.gif"
                // });
                let that = this;
                ajax('student/vote/vote_activity_list', "POST", {
                    "page_no": pageNo,
                    "page_size": pageSize,
                    "keyword": keyword
                }, function(res) {
                    if (res.code == 1) {
                        let rows = res.data.list; //请求返回当页的列表
                        that.isUpLoading = false;
                        that.total = res.data.total;
                        // vant.Toast.clear();
                        that.$refs.loadings.closedLoading();
                        if (rows == null || rows.length === 0) {
                            // 加载结束
                            this.upFinished = true;
                            if (that.listData.length < 1) {
                                that.isShow = true;
                            } else {
                                that.isShow = false;
                            }
                            return false;
                        }
                        if (pageNo == 1) {
                            that.listData = rows;
                        } else {

                            that.listData = that.listData.concat(rows);
                        }
                        if (that.listData.length >= that.total) {
                            that.upFinished = true;
                        }
                        if (that.listData.length < 1) {
                            that.isShow = true;
                        } else {
                            that.isShow = false;
                        }
                    }
                    that.isLoading = false;
                    // that.isUpLoading = false;
                    // that.upFinished = true;
                })
            },
            getSearch() {
                this.listData = [];
                this.getInfo(1, 5, this.search)
            },
            goDetail(id) {
                location.href = './activityDetails.html?id=' + id;
            }
        }
    });
</script>

</html>