<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>作业体系管理</title>
		<script src="../../../../js/public/rem.js"></script>
		<script src="../../../../js/public/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../../../../allCss/public.css">
		<link rel="stylesheet" href="../../../../allCss/principal/t_classManagement.css">
		<link rel="stylesheet" href="../../../../allCss/vant.css">
	</head>
	<body>
		<div id="box" v-cloak>
			<div class="th_headers">
			    <div class="th_headers_topBox">
			        <img class="th_headers_topImg" src="../../../../images/student/icon_back.png" alt="" @click="goBack">
			        <div class="th_headers_topTitle danshen titleWid">{{titles}}</div>
					<div class="th_headers_rigs" @click="addClass">添加</div>
			    </div>
			</div>
			<van-pull-refresh v-model="refreshing" @refresh="onRefresh" style="min-height: 90%;"  v-cloak v-if="classLists.length!==0">
			<van-list
			      v-model="loading"
			      :finished="finished"
			      :immediate-check="false"
			      finished-text="已加载完毕"
			      @load="onLoad"
			      :offset="10"
			    >
			<div class="listBox">
				<div class="align_items list" v-for="(it,ix) in classLists" @click.stop="goPage(it)">
					<p class="danshen">{{it.name}}{{it.num}}</p>
					<div class="align_items">
						<div class="align_items" @click.stop="editus(it,ix)">
							<img src="../../../../images/principal/ic_edit.png" />
							<span>编辑</span>
						</div>
						<div class="align_items" @click.stop="dele(it,ix)">
							<img src="../../../../images/principal/ic_del_87.png" />
							<span>删除</span>
						</div>
					</div>
				</div>
			</div>
			</van-list>
			</van-pull-refresh>
			<div v-if="classLists.length==0&&nullEmptys" class="nullEmptys maeings">
				<img src="../../../../images/student/null.png" />
				<p>什么都没有...</p>
			</div>
			<div class="alertBox">
				<van-overlay :show="show" z-index="9999">
					<div class="wrapper" @click.stop>
					    <div class="alerts">
							<div class="hearts align_items">
								<span></span>
								<p>{{alertsObj.title}}</p>
								<img src="../../../../images/teacher/ic_cancle.png" @click="alertCheck(false,checks)"/>
							</div>
							<input placeholder="请输入课程名称" v-if="checks!=3" v-model="classNames"/>
							<input placeholder="请输入课程编号" v-if="checks==2" v-model="classId" class="marginsTwo"/>
							<!-- <input placeholder="请输入课程数量" v-if="checks==1" v-model="classNum"
							 type="tel"
							 onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"
							 class="marginsTwo"/> -->
							<p class="delteTix" v-if="checks==3"><span>确认删除课程</span></p>
							<div class="fotBtn align_items">
								<p @click="submits">确定</p>
							</div>
						</div>
					</div>
				</van-overlay>
			</div>
			<loadings ref="loadings"/>
		</div>
	</body>
	<script src="../../../../js/public/vue.js"></script>
	<script src="../../../../js/public/vant.js"></script>
	<script src="../../../../js/public/WebViewJavascriptBridge.js"></script>
	<script src="../../../../js/public/index.js"></script>
	<script>
	    new Vue({
	        el: '#box',
	        data() {
	            return {
					show:false,
					alertsObj:{
						title:""
					},
					postData:{
						page_no:1,
						page_size:15,
						pid:"",
						is_system:"",
						is_main:""
					},
					classLists:[],
					checks:"",
					nullEmptys:false,
					loading:false,
					finished:false,
					refreshing:false,
					classNames:"",
					classNum:"",
					classId:"",
					course_id:"",
					courseIx:"",
					titles:""              //头部标题
	            }
	        },
			mounted(){
				var id = GetQueryValue("id")
				var name = GetQueryValue("name")
				this.postData.pid = id
				this.titles = name
				this.getDetails()
			},
			methods:{
				onLoad(){      //上拉加载
				  this.postData.page_no++
				  this.getDetails()
				},
				onRefresh() {           //刷新
				  this.postData.page_no = 1
				  this.nullEmptys = false
				  this.loading = false
				  this.finished = false
				  this.classLists = []
				  this.getDetails()
				},
				getDetails(){
					this.$refs.loadings.openLoading()
					var that = this;
					ajax("school/course/course_list",'POST',this.postData,function(res){
						that.$refs.loadings.closedLoading()
						if(res.code==1){
							that.nullEmptys = true
							that.refreshing = false;
							var numData = JSON.parse(JSON.stringify(res.data.list))
							if(numData.length==0){
							  that.finished = true
							  return false
							}
							if(that.postData.page_no==1){
							  that.classLists = numData
							}else{
							  that.classLists = that.classLists.concat(numData)
							}
							that.loading = false;
						}else{
							vant.Toast(res.msg)
						}
					})
				},
				addClass(){        //添加课程
					this.classNames = ""
					this.alertsObj.title="新增课程"
					this.alertCheck(true,1)
				},
				alertCheck(bool,checks){         //控制弹窗显示/隐藏
					this.checks = checks
					this.show = bool
				},
				editus(it,ix){         //编辑
					this.course_id = it.course_id
					this.classNames = it.name
					this.classId = it.num
					this.courseIx = ix
					this.alertsObj.title="编辑课程名称"
					this.alertCheck(true,2)
				},
				dele(it,ix){         //删除
					this.course_id = it.course_id
					this.courseIx = ix
					this.alertsObj.title="确定删除"
					this.alertCheck(true,3)
				},
				submits(){        //确定
					if(this.checks!==3&&this.classNames==""){
						return vant.Toast("请输入课程名称")
					}
					var that = this;
					var postUrl = this.checks==1?'school/course/course_add':this.checks==2?'school/course/course_edit':'school/course/course_delete'
					var postDatas = ""
					if(this.checks==1){
						postDatas = {name:this.classNames,num:this.classNum,pid:this.postData.pid}
					}else if(this.checks==2){
						postDatas = {name:this.classNames,course_id:this.course_id,num:this.classId}
					}else{
						postDatas = {course_id:this.course_id}
					}
					ajax(postUrl,'POST',postDatas,function(res){
						vant.Toast(res.msg)
						if(res.code==1){
							if(that.checks==1){
								setTimeout(function(){
									that.onRefresh()
								},500)
							}else if(that.checks==2){
								that.classLists[that.courseIx].name = that.classNames
								that.classLists[that.courseIx].num = that.classId
							}else{
								that.classLists.splice(that.courseIx,1)
							}
						}
					})
					this.alertCheck(false,this.checks)
				},
				goBack(){
					history.go(-1)
				},
				goPage(it){     //进入子页面
					if(it.level!=4){
						location.href = "./enDiteOne.html?id="+it.course_id+"&name="+it.name
					}
				}
			}
	    });
	</script>
</html>
