<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>投票活动</title>
    <script src="../../../js/public/rem.js"></script>
    <script src="../../../js/public/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../../../allCss/public.css">
    <link rel="stylesheet" href="../../../allCss/vant.css">
    <link rel="stylesheet" href="../../../allCss/teacher/activityDetails.css">
</head>

<body>
    <div id="activityDetails" class="contents" v-cloak>
        <!-- <div class="top">
            <div class="topBox">
                <img class="topImg" @click="goBack()" src="../../../images/student/icon_back.png" alt="">
                <div class="topTitle">投票活动</div>
				<p class="emptyssd"></p>
                <img class="topImg" @click="goShare(true)" src="../../../images/student/Ic_share_02.png" alt="">
            </div>
        </div> -->
        <div class="boxPadd mainTop" v-if="allData!==''">
            <div class="mainTop_title">
                <div class="mainTop_title_text">{{allData.title}}
                    <p class="mainTop_title_tag" style="margin-top: 0;">{{allData.a_type_text}}</p>
                </div>
            </div>
            <div class="mainTop_text">活动描述：{{allData.content}}</div>
            <div class="mainTop_imgs">
                <img v-for="(imgItem,i) in allData.attament" :key="i" @click="preview(i)" :src="imgItem.path" alt="">
            </div>
			<div class="timBoxs">
				<div>
					[参与时间]<span>{{allData.join_start_time}} - {{allData.join_end_time}}</span>
				</div>
				<div>
					[投票时间]<span>{{allData.vote_start_time }} - {{allData.vote_end_time}}</span>
				</div>
			</div>
        </div>
        <div class="boxPadd list">
            <div class="listBox">
                <div class="item" v-for="(item,i) in dataList">
                    <div class="item_top">
                        <div class="item_top_left">{{i+1}}.{{item.full_name}}（{{item.vote_num}}票）</div>
                        <div class="item_top_right" v-if="item.is_vote == 0">
                            <div class="item_top_rightBox">
                                <img src="../../../images/student/Ic_thumbup.png" alt="">
                                <div class="item_top_right_text" @click="goVote(item)">投票</div>
                            </div>
                        </div>
                        <div class="item_top_rights" v-if="item.is_vote == 1">
                            <div class="item_top_rightBox">
                                <img src="../../../images/student/Ic_thumbup.png" alt="">
                                <div class="item_top_rights_text">已投票</div>
                            </div>
                        </div>
                    </div>
                    <div class="item_main">
                        {{item.conent}}
                    </div>
                    <div v-if="allData.a_type==1">
                        <div class="audiosf align_items" v-if="item.attachment!==''" @click="auTo(item.attachment.path)">
                            <div class="audiosBox">
                                {{item.attachment.duration}}"
                            </div>
                        </div>
                    </div>
                    <div v-if="allData.a_type==0">
                        <div class="item_img" v-if="item.attachment!==''">
                            <img :src="item.attachment.path"
							 @click="lookImg(item.attachment.path)"
							 alt="" onerror="this.src = '../../../images/teacher/error.png'" />
                        </div>
                    </div>
                    <div v-if="allData.a_type==2">
                        <div class="videoBox align_items" v-if="item.attachment!==''">
                            <div @click="auTo(item.attachment.path)">
                                <img :src="item.attachment.other_path" onerror="this.src = '../../../images/teacher/error.png'" />
                                <div>
                                    <img src="../../../images/teacher/ic_bofang.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../../images/teacher/pic_24.png" class="downds" @click="dowms" />
        <loadings ref="loadings" />
    </div>
</body>
<script src="../../../js/public/vue.js"></script>
<script src="../../../js/public/vant.js"></script>
<script src="../../../js/public/WebViewJavascriptBridge.js"></script>
<script src="../../../js/public/index.js"></script>
<script>
    new Vue({
        el: '#activityDetails',
        data() {
            return {
                allData: "",
                dataList: [],
                vote_id: '',
                u_type: "",
                u_id: ""
            }
        },
        mounted() {
            var u_types = localStorage.getItem("u_types")
            var u_id = localStorage.getItem("u_id")

            if (u_types !== null) {
                this.u_type = u_types
            }
            if (u_id !== null) {
                this.u_id = u_id
            }
            var id = GetQueryValue("id")
                // var id = 64
            this.vote_id = id
            this.$refs.loadings.openLoading();
            this.getDetails(id, this.u_type, this.u_id)
        },
        methods: {
			lookImg(path){            //查看图片
				var imgs = [path]
				vant.ImagePreview({
				  images: imgs,
				  startPosition: 0,
				  onClose() {
				    // do something
				  },
				});
			},
            // 图片点击放大预览
            preview(i) {
                var imgs = []
                this.allData.attament.forEach(function(item) {
                    imgs.push(item.path)
                })
                vant.ImagePreview({
                    images: imgs,
                    startPosition: i,
                    onClose() {
                        // do something
                    },
                });
            },
            auTo(path) { //播放音频视频
                var obj = {
                    txt: this.allData.title,
                    path: path
                }
                localStorage.setItem("videoMess", JSON.stringify(obj))
                location.href = "autoVideo.html"
            },
            dowms() { //下载App
                if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
                    jump("mxHuashaoApp://")
                } else {
                    jump("launchapp://huashao")
                }
            },
            getDetails(id, u_type, u_id) {
                var url = pageUrl + "huashao_h5/pages/shares/principal/shareActivityDetails.html?id=" + id
                var that = this;
                // vant.Toast.loading({
                //     message: '',
                //     forbidClick: true,
                //     loadingType: 'spinner',
                //     duration: 0,
                //     icon: "../../../images/loading.gif"
                // });
                let obj = {
                    vote_activity_id: id,
                    share_url: url,
                    v_type: u_type,
                    v_id: u_id
                }
                webajax("current/share/vote", 'POST', obj, function(res) {
                    if (res.code == 1) {
                        that.allData = res.data.result
                        that.dataList = res.data.list
                    }
                    // vant.Toast.clear();
                    that.$refs.loadings.closedLoading();
                })
            },
            goVote(item) { //投票
                var posts = this.u_type == 0 ? 'student/vote/student_vote' : 'teacher/Share/doVote'
                var postData = ""
                if (this.u_type == 0) {
                    postData = {
                        vote_activity_join_id: item.vote_activity_join_id
                    }
                } else {
                    postData = {
                        vote_id: this.allData.vote_activity_id,
                        join_id: item.vote_activity_join_id,
                        u_type: this.u_type
                    }
                }
                webajax(posts, 'POST', postData, function(res) {
                    vant.Toast(res.msg)
                    if (res.code == 1) {
                        item.is_vote = 1
                    }
                })
            },
            goBack() {
                history.go(-1);
            },
            goShare(bool) {
                this.show = bool;
            },
            shareWayCacel() {
                this.show = false;
            },
            goPartake() {
                location.href = './partakeActivities.html?id=' + this.vote_id + "&type=" + this.allData.a_type
            }
        }
    });
</script>

</html>