<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>添加至班级</title>
		<script src="../../js/public/rem.js"></script>
		<script src="../../js/public/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../../allCss/public.css">
		<link rel="stylesheet" href="../../allCss/teacher/AddClass.css">
		<link rel="stylesheet" href="../../allCss/vant.css">
	</head>
	<body>
		<div id="box" v-cloak>
			<div class="topFied">
				<div class="heads_top">
				    <div class="heads_topBox">
				        <img class="heads_topImg" src="../../images/student/icon_back.png" alt="" @click="goback">
				        <div class="heads_topTitle">添加至班级</div>
				        <div class="heads_rig" @click="submits">确定</div>
				    </div>
				</div>
				<div class="userInfo">
					<div class="align_items tops">
						<img :src="message.head" onerror="this.src = '../../images/teacher/error.png'"/>
						<div>
							<p class="danshen">{{message.name}}</p>
							<div>ID：{{message.id}}</div>
						</div>
					</div>
					<div class="allTitles align_items">
						<span></span>
						<p>选择添加至的班级</p>
					</div>
				</div>
			</div>
			<div class="allList">
				<div class="list align_items" v-for="(item,index) in list" @click="check(item)">
					<p>{{item.classes_name}}</p>
					<div>
						<img src="../../images/teacher/checkBoxOne.png" v-if="item.show"/>
						<img src="../../images/teacher/checkBoxTwo.png" v-else/>
					</div>
				</div>
			</div>
			<loadings ref="loadings"/>
		</div>
	</body>
	<script src="../../js/public/vue.js"></script>
	<script src="../../js/public/vant.js"></script>
	<script src="../../js/public/WebViewJavascriptBridge.js"></script>
	<script src="../../js/public/index.js"></script>
	<script>
	    new Vue({
	        el: '#box',
	        data() {
	            return {
					list:[],
					message:{},
					postData:{
						student_id:"",
						classes_id:[]
					},
					status:"",
					btnCheck:true       //节流处理
	            }
	        },
			mounted(){
			   var id = GetQueryValue("id")
			   var status = GetQueryValue("status")
			   this.status = status
			   var mess = localStorage.getItem("userMess")
			   this.message = JSON.parse(mess)
			   this.postData.student_id = id
			   this.getClassList(status,id)
			},
	        methods: {
				getClassList(status,id){
					this.$refs.loadings.openLoading()
					var that = this;
					var urls = status==1?'teacher/Student/studentNotInClassList':'teacher/Teacher/TeacherClassessList';
					var postDatas = {
						student_id:id
					}
					ajax(urls,'POST',status==1?postDatas:{},function(res){
						if(res.code==1){
							var datas = JSON.parse(JSON.stringify(res.data.list))
							datas.forEach(function(item){
								item.show = false
							})
							that.list = datas
						}
						that.$refs.loadings.closedLoading()
					})
				},
				goback(){
					history.go(-1)
				},
				check(item){           //选择
					item.show?item.show=false:item.show=true
				},
				submits(){        //确定
					var classIds = []
					this.list.forEach(function(it){
						if(it.show==true){
							classIds.push(it.classes_id)
						}
					})
					this.postData.classes_id = classIds
					if(this.postData.classes_id.length==0){
						vant.Toast("请选择添加的班级")
					}else{
						if(this.btnCheck){
							this.btnCheck = false
							this.$refs.loadings.openLoading()
							var that = this;
							ajax("teacher/classes/studentJoinClass",'POST',this.postData,function(res){
								that.$refs.loadings.closedLoading()
								if(res.code==1){
									setTimeout(function(){
										history.go(-2)
									},700)
								}
								vant.Toast(res.msg);
							})
							setTimeout(function(){
								that.btnCheck = true
							},1500)
						}
						
					}
				}
			}
	    });
	
	
	</script>
</html>
