<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>查看作业</title>
		<script src="../../js/public/rem.js"></script>
		<script src="../../js/public/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../../allCss/public.css">
		<link rel="stylesheet" href="../../allCss/teacher/lookHomework.css">
		<link rel="stylesheet" href="../../allCss/vant.css">
	</head>
	<body>
		<div id="box"  v-cloak>
			<div class="top"  v-if="allData!==''">
			    <div class="topBox">
			        <img class="topImg" src="../../images/student/icon_back.png" alt="" @click="goback">
			        <div class="topTitle danshen">{{allData.task_info.name}}</div>
			        <div class="topImg"></div>
			    </div>
			</div>
			<div class="cont"  v-if="allData!==''">
				<div class="titlesd" v-if="status==88">
					{{allData.student_task_opus.name}}
				</div>
				<div class="align_items userInfos" v-if="status==88">
					<div class="align_items lef">
						<img :src="allData.student_info.student_head" onerror="this.src = '../../images/teacher/error.png'"/>
						<span class="danshen">{{allData.student_info.student_name}}</span>
					</div>
					<div class="align_items rig">
						<div class="align_items" @click="zans">
							<img src="../../images/teacher/loves.png" v-if="allData.student_task_opus.is_click==1"/>
							<img src="../../images/teacher/Ic_thumbup_03.png" v-else/>
							<span>{{allData.student_task_opus.click_num}}</span>
						</div>
						<div class="align_items" @click="cancel(true)">
							<img src="../../images/teacher/Ic_comments_03.png" />
							<span>{{allData.student_task_opus.comment_count}}</span>
						</div>
					<!-- 	<div class="align_items" @click="clooections">
							<img src="../../images/teacher/colltiosn.png" v-if="allData.student_task_opus.is_collection==1"/>
							<img src="../../images/teacher/Ic_collection_02.png" v-else/>
							<span>{{allData.student_task_opus.opus_collection_count}}</span>
						</div> -->
					</div>
				</div>
				<p>{{allData.student_task_opus.content}}</p>
				<div v-for="(it,ix) in allData.student_task_opus.attachment_list" :key="ix" class="atachment imgBoxss">
					<img :src="it.path" class="bg" onerror="this.src = '../../images/teacher/error.png'"/>
				</div>
<!-- 				<div v-for="(it,ix) in allData.task_info.attachment" :key="ix" class="atachment" @click="autoVideo(it)">
					<img :src="it.other_path" class="bg" onerror="this.src = '../../images/teacher/error.png'"/>
					<img class="videos"  src="../../images/teacher/Ic_suspended.png"/>
				</div> -->
			</div>
			<div v-if="post!=888&&post!=999&&status!=1&&allData!==''">
				<div class="fotBtn" v-if="allData.student_task_opus.is_comment==1&&post==2">
					<p @click="lookDeta">查看点评</p>
				</div>
				<div class="fotBtn" v-if="allData.student_task_opus.is_comment==0&&post!=1">
					<p @click="assignment">点评作业</p>
				</div>
			</div>
			<img src="../../images/teacher/homeWolrk.png" class="homeTit" v-if="status==88" @click="goHomeTitle"/>
			<div v-if="allData!==''">
				<img src="../../images/teacher/lookPin.png" class="homeTit looks" @click="lookDeta" v-if="post!=888&&post!=999&&post!=2&&status!=1&&allData.student_task_opus.is_comment==1"/>
			</div>
			<van-popup v-model="show" round position="bottom">
				<div class="popAlerts">
					<div class="popTitle">
						<p>评论</p>
						<img src="../../images/teacher/ic_cancle.png" @click="cancel(false)"/>
					</div>
					<div class="boxsdf">
						<van-list
						      v-model="loading"
						      :finished="finished"
						      :immediate-check="false"
						      finished-text="已加载完毕"
						      @load="onLoad"
						      :offset="10"
						    >
								<div class="contents">
									<div class="divs" v-for="(it,ix) in commentList" :key="ix">
										<div class="align_items topdf">
											<div class="align_items">
												<img :src="it.user_info.head_path" />
												<span class="danshen">{{it.user_info.name}}</span>
											</div>
											<p>{{it.create_time}}</p>
										</div>
										<div class="bot">
											<p>{{it.content}}</p>
											<div v-if="it.reply.length!==0">
												<div class="align_items" v-for="(ff,xx) in it.reply" :key="xx">
													<span>{{ff.user_info.name}}：</span>
													<p>{{ff.content}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
						 </van-list>
					</div>
				</div>
			</van-popup>
			<div class="keybord rowCenters" @click.stop="emptysd" v-if="show">
			   <input class="ipt" placeholder="发表一下你的看法" ref="inputs" v-model="content"/>
			   <p @click.stop="subot">发送</p>
			</div>
			<loadings ref="loadings"/>
		</div>
	</body>
	<script src="../../js/public/vue.js"></script>
	<script src="../../js/public/vant.js"></script>
	<script src="../../js/public/WebViewJavascriptBridge.js"></script>
	<script src="../../js/public/index.js"></script>
	<script>
	    new Vue({
	        el: '#box',
	        data() {
	            return {
					loadsAll:false,
					loading:false,
					finished:false,
					commentList:[],           //评论列表
					page:1,
					id:"",
					content:"",
					show:false,
					allData:"",
					status:"",            //status为1是从我发布的练习进入学生列表-查看详情    2是待点评进入     88是学生主页进入详情
					post:""
				}
	        },
			mounted(){
				var status = GetQueryValue("status")
				var id = GetQueryValue("id")
				var post = GetQueryValue("post")
				this.id = id
				this.post = post
				this.status = status
				this.getDetails(id)
				if(status==88){
					this.getCommentList()
				}
			},
	        methods: {
				autoVideo(item){     //播放视频
					var obj = {
						title:this.allData.task_info.name,
						path:item.path
					}
					AndroidRouter('playVideo',JSON.stringify(obj))
				},
				emptysd(){
					
				},
				onLoad(){      //上拉加载
				  this.page++
				  this.getCommentList()
				},
				reloadComment(){
					this.page = 1
					this.finished = false
					this.commentList = []
					this.getCommentList()
				},
				getCommentList(){            //获取评论列表
					var that = this;
					ajax('teacher/Studenttask/studentTaskEvaluateList','POST',{student_opus_id:this.id,page:this.page},function(res){
						that.loading = false
						if(res.code==1){
							that.loadsAll = true
							var numData = JSON.parse(JSON.stringify(res.data))
							if(numData.list.length==0){
							  that.finished = true
							  return false
							}
							if(that.page==1){
							  that.commentList = numData.list
							}else{
							  that.commentList = that.commentList.concat(numData.list)
							}
						}
					})
				},
				
				goHomeTitle(){           //作业题目跳转
					location.href = "homeworkDetails.html?id="+this.allData.student_task_opus.task_id+"&status=56"
				},
				subot(){           //评论确定
					var obj = {
						student_opus_id:this.id,
						content:this.content
					}
					var that = this;
					ajax("teacher/Studenttask/evaluateStudentTask",'POST',obj,function(res){
						vant.Toast(res.msg)
						if(res.code==1){
							that.content = ""
							that.allData.student_task_opus.comment_count+=1
							that.reloadComment()
						}
					})
					this.show = false
				},
				cancel(bool){       //取消
					this.show = bool;
					var that = this;
				},
				zans(){          //点赞
					var that = this;
					ajax("teacher/Studenttask/likeStudentTask",'POST',{student_opus_id:this.id},function(res){
						vant.Toast(res.msg)
						if(res.code==1){
							if(that.allData.student_task_opus.is_click==1){
								that.allData.student_task_opus.is_click = 0;
								that.allData.student_task_opus.click_num-=1
							}else{
								that.allData.student_task_opus.is_click = 1;
								that.allData.student_task_opus.click_num+=1;
							}
						}
					})
				},
				clooections(){          //收藏
					var that = this;
					ajax("teacher/Studenttask/opusCollection",'POST',{student_task_opus_id:this.id},function(res){
						vant.Toast(res.msg)
						if(res.code==1){
							if(that.allData.student_task_opus.is_collection==1){
								that.allData.student_task_opus.is_collection = 0
								that.allData.student_task_opus.opus_collection_count-=1
							}else{
								that.allData.student_task_opus.is_collection = 1
								that.allData.student_task_opus.opus_collection_count+=1
							}
						}
					})
				},
				getDetails(id){
					var postObj = {
						student_task_id:id
					}
					var postObjTwo = {                 //学生主页进入详情
						student_task_opus_id:id
					}
					var that = this;
					this.$refs.loadings.openLoading()
					var datas = this.status==88?postObjTwo:postObj
					ajax("teacher/Studenttask/studentOpusDetail",'POST',datas,function(res){
						that.$refs.loadings.closedLoading()
						if(res.code==1){
							that.allData = JSON.parse(JSON.stringify(res.data.list))
						}else{
							vant.Toast(res.msg)
						}
					})
				},
				goback(){
					history.go(-1)
				},
				lookDeta(){            //查看点评//
					location.href = "teacherComments.html?id="+this.allData.student_task_opus.id+"&type=web"
				},
				assignment(){         //点评作业
					AndroidRouter("goTeaCommentStudentWork",this.allData.student_task_opus.id,this.get_woekCall,'get_woekCall')
				},
				get_woekCall(){
					history.go(-1)
				}
	        }
	    });
	
	
	</script>
</html>
