<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>班级管理</title>
		<script src="../../../js/public/rem.js"></script>
		<script src="../../../js/public/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../../../allCss/public.css">
		<link rel="stylesheet" href="../../../allCss/principal/t_classManagement.css">
		<link rel="stylesheet" href="../../../allCss/vant.css">
	</head>
	<body>
		<div id="box" v-cloak :class="{'pads':classLists.length==0?true:false}">
			<div class="newsth_headers">
			    <div class="th_headers_topBox">
			        <img class="newth_headers_topImg" src="../../../images/student/icon_back.png" alt="" @click="goBack">
			        <div class="th_headers_topTitle cenMar">班级管理</div>
					<div class="th_headers_rigs" @click="addClass">添加</div>
			    </div>
			</div>
			<van-pull-refresh v-model="refreshing" @refresh="onRefresh" style="min-height: 90%;"  v-cloak v-if="classLists.length!==0">
			<van-list
			      v-model="loading"
			      :finished="finished"
			      :immediate-check="false"
			      finished-text="已加载完毕"
			      @load="onLoad"
			      :offset="10"
			    >
			<div class="listBox">
				<div class="align_items list" v-for="(it,ix) in classLists" :key="ix">
					<p class="danshen" @click="goDetails(it)">{{it.classes_name}}</p>
					<div class="align_items">
						<div class="align_items" @click="editus(it,ix)">
							<img src="../../../images/principal/ic_edit.png" />
							<span>编辑</span>
						</div>
						<div class="align_items" @click="dele(it,ix)">
							<img src="../../../images/principal/ic_del_87.png" />
							<span>删除</span>
						</div>
						<div class="align_items" @click="addTea(it)">
							<img src="../../../images/principal/addTea.png" class="addIcons"/>
							<span class="addTeachs">添加教师</span>
						</div>
					</div>
				</div>
			</div>
			</van-list>
			</van-pull-refresh>
			<div v-if="classLists.length==0&&nullEmptys" class="nullEmptys maeings">
				<img src="../../../images/student/null.png" />
				<p>什么都没有...</p>
			</div>
			<div class="alertBox">
				<van-overlay :show="show" z-index="9999">
					<div class="wrapper" @click.stop>
					    <div class="alerts">
							<div class="hearts align_items">
								<span></span>
								<p>{{alertsObj.title}}</p>
								<img src="../../../images/teacher/ic_cancle.png" @click="alertCheck(false,checks)"/>
							</div>
							<input placeholder="请输入班级名称" v-if="checks!=3" v-model="classNames"/>
							<p class="delteTix" v-else><span>确认删除班级</span></p>
							<div class="fotBtn align_items">
								<p @click="submits">确定</p>
							</div>
						</div>
					</div>
				</van-overlay>
			</div>
			<loadings ref="loadings"/>
		</div>
	</body>
	<script src="../../../js/public/vue.js"></script>
	<script src="../../../js/public/vant.js"></script>
	<script src="../../../js/public/WebViewJavascriptBridge.js"></script>
	<script src="../../../js/public/index.js"></script>
	<script>
	    new Vue({
	        el: '#box',
	        data() {
	            return {
					show:false,
					alertsObj:{
						title:""
					},
					postData:{
						page_no:1,
						page_size:15,
						scene:0
					},
					checks:"",
					classLists:[],
					classNames:"",
					classes_id:"",        //班级id
					classIx:"",
					nullEmptys:false,
					loading:false,
					finished:false,
					refreshing:false
	            }
	        },
			mounted(){
				this.getDetails()
			},
			methods:{
				goDetails(item){         //进入班级详情
					localStorage.removeItem("numed")
					location.href = "classDetails.html?title="+item.classes_name+"&class_id="+item.classes_id
				},
				addTea(item){       //添加教师
					localStorage.removeItem("numed")
					location.href = "classTeacher.html?class_id="+item.classes_id+"&title="+item.classes_name
				},
				onLoad(){      //上拉加载
				  this.postData.page_no++
				  this.getDetails()
				},
				onRefresh() {           //刷新
				  this.postData.page_no = 1
				  this.loading = false
				  this.nullEmptys = false
				  this.finished = false
				  this.classLists = []
				  this.getDetails()
				},
				getDetails(){
					this.$refs.loadings.openLoading()
					var that = this;
					ajax("school/classes/classes_list",'POST',this.postData,function(res){
						that.$refs.loadings.closedLoading()
						that.loading = false;
						if(res.code==1){
							that.nullEmptys = true
							that.refreshing = false;
							var numData = JSON.parse(JSON.stringify(res.data.list))
							if(numData.length==0){
							  that.finished = true
							  return false
							}
							if(that.postData.page_no==1){
							  that.classLists = numData
							}else{
							  that.classLists = that.classLists.concat(numData)
							}
						}else{
							vant.Toast(res.msg)
						}
					})
				},
				addClass(){        //添加班级
					this.classNames = ""
					this.alertsObj.title="新增班级"
					this.alertCheck(true,1)
				},
				alertCheck(bool,checks){         //控制弹窗显示/隐藏
					this.checks = checks
					this.show = bool
				},
				editus(it,ix){         //编辑
					this.classes_id = it.classes_id
					this.classNames = it.name
					this.classIx = ix
					this.alertsObj.title="编辑班级名称"
					this.alertCheck(true,2)
				},
				dele(it,ix){         //删除
					this.classes_id = it.classes_id
					this.classIx = ix
					this.alertsObj.title="确定移除"
					this.alertCheck(true,3)
				},
				submits(){        //确定
					if(this.checks!==3&&this.classNames==""){
						return vant.Toast("请输入班级名称")
					}
					var that = this;
					var postUrl = this.checks==1?'school/classes/school_classes_add':this.checks==2?'school/classes/school_classes_edit':'school/classes/school_classes_delete'
					var postDatas = ""
					if(this.checks==1){
						postDatas = {name:this.classNames}
					}else if(this.checks==2){
						postDatas = {name:this.classNames,classes_id:this.classes_id}
					}else{
						postDatas = {classes_id:this.classes_id}
					}
					ajax(postUrl,'POST',postDatas,function(res){
						vant.Toast(res.msg)
						if(res.code==1){
							if(that.checks==1){
								setTimeout(function(){
									that.onRefresh()
								},500)
							}else if(that.checks==2){
								that.classLists[that.classIx].classes_name = that.classNames
							}else{
								that.classLists.splice(that.classIx,1)
							}
						}
					})
					this.alertCheck(false,this.checks)
				},
				goBack(){
					AndroidRouter("closePage","")
					// history.go(-1)
				}
			}
	    });
	</script>
</html>
