<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>教师列表</title>
		<script src="../../../js/public/rem.js"></script>
		<script src="../../../js/public/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../../../allCss/public.css">
		<link rel="stylesheet" href="../../../allCss/principal/t_removeTeacher.css">
		<link rel="stylesheet" href="../../../allCss/vant.css">
	</head>
	<body>
		<div id="box" v-cloak @touchstart.stop="scolls">
			<div class="topFixd">
				<div class="heads_top">
				    <div class="heads_topBox">
				        <img class="heads_topImg" src="../../../images/student/icon_back.png" alt="" @click="goback">
				        <div class="heads_topTitle">教师列表</div>
				        <div class="heads_rig" @click="delets">确定移除</div>
				    </div>
				</div>
				<form @submit.prevent="return false;">
					<div class="searchBox">
						<div class="ipts">
							<input 
							v-model="postData.keyword"
							@input="setIpts" 
							oninput = "value=value.replace(/[^\d]/g,'')"
							@keyup.enter="onRefresh" ref="inputs" type="search"/>
							<div class="align_items" v-show="postData.keyword==''">
								<img src="../../../images/teacher/ic_search.png" />
								<p>手机号搜索</p>
							</div>
						</div>
					</div>
				</form>
			</div>
			<van-pull-refresh v-model="refreshing" @refresh="onRefresh" style="min-height: 90%;"  v-cloak v-if="list.length!==0">
			<van-list
			  v-model="loading"
			  :finished="finished"
			  :immediate-check="false"
			  finished-text="已加载完毕"
			  @load="onLoad"
			  :offset="10"
			    >
				<div class="listBoxs">
					<div class="align_items" v-for="(it,ix) in list" @click="check(it)">
						<div class="align_items ali_top">
							<img :src="it.head" onerror="this.src = '../../../images/teacher/error.png'"/>
							<div>
								<p class="danshen">{{it.teacher_name}}</p>
								<span>手机号：{{item.mobile}}</span>
							</div>
						</div>
						<div class="ali-bot">
							<img src="../../../images/teacher/xq_yuan.png" v-if="it.show"/>
							<img src="../../../images/teacher/xq_yuan2.png" v-else />
						</div>
					</div>
				</div>
			</van-list>
			</van-pull-refresh>
			<div v-if="list.length==0&&loadsAll" class="nullEmptys" style="height: 80%;">
				<img src="../../../images/student/null.png" />
				<p>什么都没有...</p>
			</div>
			<div class="alertBox">
				<van-overlay :show="show" @click="removes(false)" z-index="999">
					<div class="wrapper" @click.stop>
					    <div class="alerts">
							<div class="hearts align_items">
								<span></span>
								<p>确定移除</p>
								<img src="../../../images/teacher/ic_cancle.png" @click="removes(false)"/>
							</div>
							<div class="cont">移除学员后，学员将不再同步作业，是否确定移除？</div>
							<div class="fotBtn">
								<p @click="submitsd">确定</p>
							</div>
						</div>
				    </div>
				</van-overlay>
			</div>
			<loadings ref="loadings"/>
		</div>
	</body>
	<script src="../../../js/public/vue.js"></script>
	<script src="../../../js/public/vant.js"></script>
	<script src="../../../js/public/WebViewJavascriptBridge.js"></script>
	<script src="../../../js/public/index.js"></script>
	<script>
	    new Vue({
	        el: '#box',
	        data() {
	            return {
					postData:{
						keyword:"",
						page_no:1,
						page_size:15
					},
					deleData:{
						teacher_ids:[]
					},
					activeName: '1',
					list:[],
					loading:false,
					finished:false,
					loadsAll:false,
					show:false          //确定移除弹窗
	            }
	        },
			mounted(){
				this.getList()
			},
	        methods: {
				setIpts(e){
					this.postData.keyword = e.target.value
				},
				scolls(){       //触摸监听
					var that = this;
					this.$nextTick(function(){
					   that.$refs.inputs.blur()
					})
				},
				goback(){
					history.go(-1)
				},
				onLoad(){      //上拉加载
				  this.postData.page_no++
				  this.getList()
				},
				onRefresh() {           //刷新
				  this.postData.page_no = 1
				  this.loadsAll = false
				  this.loading = false
				  this.finished = false
				  this.list = []
				  this.getList()
				},
				getList(){
					if(this.postData.page_no==1){
						this.$refs.loadings.openLoading()
					}
					var that = this;
					ajax("school/Classes/school_teacher_list",'POST',this.postData,function(res){
						that.$refs.loadings.closedLoading();
						that.loading = false;
						if(res.code==1){
							that.refreshing = false;
							that.loadsAll = true;
							var numData = JSON.parse(JSON.stringify(res.data.list))
							numData.forEach(function(ites){
								ites.show = false
							})
							if(numData.length==0){
							  that.finished = true
							  return false
							}
							if(that.postData.page_no==1){
							  that.list = numData
							}else{
							  that.list = that.list.concat(numData)
							}
						}
					})
				},
				
				check(it){
					it.show?it.show=false:it.show=true
				},
				removes(bool){          //移除
					this.show = bool
				},
				delets(){            //点击移除
					var deleArr = []
					this.list.forEach(function(it){
						if(it.show==true){
							deleArr.push(it.teacher_id)
						}
					})
					this.deleData.teacher_ids = deleArr
					if(this.deleData.teacher_ids.length!==0){
						this.removes(true)
					}else{
						vant.Toast('请选择教师')
					}
				},
				submitsd(){             //确定移除
					this.$refs.loadings.openLoading()
					var that = this;
					var datas = JSON.parse(JSON.stringify(this.deleData))
					datas.teacher_ids = JSON.stringify(datas.teacher_ids)
					ajax("school/classes/school_teacher_remove",'POST',datas,function(res){
						that.$refs.loadings.closedLoading()
						vant.Toast(res.msg)
						that.show = false
						if(res.code==1){
							location.reload()
						}
					})
				}
			}
	    });
	
	
	</script>
</html>