<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>移除学员</title>
    <script src="../../../js/public/rem.js"></script>
    <script src="../../../js/public/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../../../allCss/public.css">
    <link rel="stylesheet" href="../../../allCss/teacher/removeStudent.css">
    <link rel="stylesheet" href="../../../allCss/vant.css">
</head>

<body>
    <div id="box" v-cloak @touchstart.stop="scolls">
        <div class="topFixd">
            <div class="heads_top">
                <div class="heads_topBox">
                    <img class="heads_topImg" src="../../../images/student/icon_back.png" alt="" @click="goback">
                    <div class="heads_topTitle">已有学员列表</div>
                    <div class="heads_rig"></div>
                </div>
            </div>
            <form @submit.prevent="return false;">
                <div class="searchBox">
                    <div>
                        <div class="ipts">
                            <input @input="setIpts" oninput="value=value.replace(/[^\d]/g,'')" v-model="postData.keyword" ref="inputs" type="search" />
                            <div class="align_items" v-show="postData.keyword==''">
                                <img src="../../../images/teacher/ic_search.png" />
                                <p>手机号搜索</p>
                            </div>
                        </div>
                        <div class="seaBtn" @click="onRefresh">
                            搜索
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" style="min-height: 90%;" v-cloak v-if="lists.length!==0">
            <van-list v-model="loading" :finished="finished" :immediate-check="false" finished-text="已加载完毕" @load="onLoad" :offset="10">
                <div class="listBoxs">
                    <div class="align_items" v-for="(it,ix) in lists" @click="check(it)">
                        <div class="align_items ali_top">
                            <img :src="it.head" onerror="this.src = '../../../images/teacher/error.png'" />
                            <div>
                                <p class="danshen">{{it.student_name}}</p>
                                <span>手机号：{{it.mobile}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </van-list>
        </van-pull-refresh>
        <div v-if="lists.length==0&&loadsAll" class="nullEmptys maeings">
            <img src="../../../images/student/null.png" />
            <p>什么都没有...</p>
        </div>
        <loadings ref="loadings" />
    </div>
</body>
<script src="../../../js/public/vue.js"></script>
<script src="../../../js/public/vant.js"></script>
<script src="../../../js/public/WebViewJavascriptBridge.js"></script>
<script src="../../../js/public/index.js"></script>
<script>
    new Vue({
        el: '#box',
        data() {
            return {
                postData: {
                    keyword: "",
                    page_no: 1,
                    page_size: 15,
                    scene: 1
                },
                lists: [],
                activeName: '1',
                loadsAll: false,
                loading: false,
                finished: false,
                refreshing: false
            }
        },
        mounted() {
            this.getList()
        },
        methods: {
            setIpts(e) {
                this.postData.keyword = e.target.value
            },
            check(item) { //进入学生主页
                location.href = "./userPage/stuPage.html?id=" + item.student_id + "&u_type=0"
            },
            scolls() { //触摸监听
                var that = this;
                this.$nextTick(function() {
                    that.$refs.inputs.blur()
                })
            },
            goback() {
                history.go(-1)
            },
            onLoad() { //上拉加载
                this.postData.page_no++
                    this.getList()
            },
            onRefresh() { //刷新
                this.postData.page_no = 1
                this.loadsAll = false
                this.loading = false
                this.finished = false
                this.lists = []
                this.getList()
            },
            getList() {
                if (this.postData.page_no == 1) {
                    this.$refs.loadings.openLoading()
                }
                var that = this;
                ajax("school/classes/school_student_list", 'POST', this.postData, function(res) {
                    that.$refs.loadings.closedLoading();
                    that.loading = false;
                    if (res.code == 1) {
                        that.refreshing = false;
                        that.loadsAll = true;
                        var numData = JSON.parse(JSON.stringify(res.data.list))
                        if (numData.length == 0) {
                            that.finished = true
                            return false
                        }
                        if (that.postData.page_no == 1) {
                            that.lists = numData
                        } else {
                            that.lists = that.lists.concat(numData)
                        }
                    }
                })
            },
        }
    });
</script>

</html>