<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>验证手机号</title>
    <!-- head 中 -->
    <script src="../../../js/public/rem.js"></script>
    <script src="../../../js/public/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../../../allCss/public.css">
    <link rel="stylesheet" href="../../../allCss/vant.css">
    <link rel="stylesheet" href="../../../allCss/teacher/verifyPhone.css">
</head>

<body>
    <div id="verifyPhone" class="content" v-cloak>
        <div class="top">
            <div class="topBox">
                <img class="topImg" @click="goBack" src="../../../images/student/icon_back.png" alt="">
                <div class="topTitle">验证手机号</div>
                <div class="topImg"></div>
            </div>
        </div>
        <div class="main">
            <div class="inp main_phone">
                <input type="tel" maxlength="11" v-model="phoneVal" placeholder="请输入新手机号码" readonly="readonly"/>
            </div>
            <div class="inp verCode">
                <input v-model="codeVal" placeholder="请输入验证码"
				  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"
				 maxlength="6" type="tel">
				<van-button type="default" class="main_verCode"  @click="getCode">{{verCode}}</van-button>
            </div>
			<van-button type="default" class="btn" @click="next">下一步</van-button>
        </div>
		<loadings ref="loadings"/>
    </div>
</body>
<script src="../../../js/public/vue.js"></script>
<script src="../../../js/public/vant.js"></script>
<script src="../../../js/public/WebViewJavascriptBridge.js"></script>
<script src="../../../js/public/index.js"></script>
<script>
    new Vue({
        el: '#verifyPhone',
        data() {
            return {
                disabled: false,
                verCode: '获取验证码',
                phoneVal: '',
                codeVal: '',
				password:""
            }
        },
        created() {
			var password = GetQueryValue("password")
			var phone = GetQueryValue("phone")
			this.password = password
			this.phoneVal = phone
        },
        methods: {
            goBack() {
                history.go(-1);
            },
            getCode() {
				if(this.phoneVal==""){
					return vant.Toast("请输入手机号码")
				}
                var that = this;
				this.$refs.loadings.openLoading()
                ajax('school/login/get_sms_captcha', "POST", {
                    "mobile": that.phoneVal,
                    "scene": 11
                }, function(res){
					that.$refs.loadings.closedLoading()
                    if (res.code == 1) {
						vant.Toast("发送成功");
                        that.disabled = true;
                        var num = Number(res.data.sms_time);
                        var timer;
                        timer = setInterval(function(){
                            num--;
                            if (num <= 0) {
                                clearInterval(timer)
                                that.verCode = '获取验证码';
                                that.disabled = false;
                            } else {
                                that.verCode = num;
                            }
                        }, 1000)
                    }else{
                        vant.Toast(res.msg);
                    }
                })
            },
            next(){
				if(this.phoneVal==""){
					return vant.Toast("请输入手机号码")
				}
				if(this.codeVal==""){
					return vant.Toast("请输入验证码")
				}
				this.$refs.loadings.openLoading()
                var that = this;
                ajax('school/school/check_edit_pass_captcha', "POST", {
					"mobile": that.phoneVal,
					"captcha":that.codeVal
                }, function(res){
					that.$refs.loadings.closedLoading()
                    if (res.code == 1) {
                       location.href = "./setPwd.html?password="+that.password+"&phone="+that.phoneVal+"&captcha="+that.codeVal;
                    }else{
                        vant.Toast(res.msg);
                    }
                })
            }
        }
    });
</script>

</html>